*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Neonderthaw-regular;
    src: url("../recursos/FUENTE/flottflott.ttf");
}
                /* HOME PAGE */
#home{
    background-image: url(https://i.pinimg.com/originals/ef/be/e9/efbee92754f38473063b6c175295b317.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px auto 45px;
    grid-area: 
                "header heder header header"
                "main   main  main  main"
                "foote  footer footer footer"
                ;

}